{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
    {% block head_js %}
        <script src="https://js.stripe.com/v2/"type="text/javascript"></script>
        <script type="text/javascript">
            Stripe.publishableKey = '{{ publishable }}'
        </script>
        <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

    {% endblock %}
    {% block content %}
    <form role="form" method="post" id="register-form" action="{% url 'register' %}">
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>


        <h2>Create a new account</h2>
        <p>Joining couldnt be easier!!! Simply fill in your details below and pay the low-low monthly subscription of only €9.99**</p>
        <p>Creating a new account allows you to create and edit (just your own) blog posts. As well as comment on other peoples posts.</p>
        <p><i style="font-size: xx-small">** Only test credit cards with fake money from counterfeit street accepted</i></p>
        <hr>

        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <input class="btn btn-primary" id="validate_card_btn" name="commit" type="submit" value ="Validate Credit Card">
         </div>

    </form>


    {% endblock %}